version: '3.8'

services:
  java-app:
    image: rouabna/java-web-app:latest
    container_name: java-web-app
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
